.error {
  color: red;
  max-width: 30%;
  font-size: 13px;
}


#tableItem {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#tableItem td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}
#tableItem tr:nth-child(even){background-color: #f2f2f2;}

#tableItem tr:hover {background-color: #ddd;}

#tableItem th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background: lightblue;
  color: white;
}
